# Config files
config.json

# Build outputs & PyInstaller
build/
dist/
*.spec

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.envrc
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
